ops >= 1.4.0

MarkupSafe

# TODO -- ansible 8.0.0+ getting error
# couldn't resolve module/action 'ansible.builtin.apt'. This often indicates a misspelling, missing collection, or incorrect module path
ansible>=7.0.0,<8.0.0; python_version >= '3.8'
pyyaml
